/*
  folha de estilo site one page HTML5e CSS3 feita por Diego teixeira da Silva
*/
/* importado do google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* css reset */
*{
  margin: 0;
  border: 0;
  padding: 0;
}


body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
/** leyout **/
.container{
  margin: 0 auto;
 /** cria cores de borda
 background-color:blanchedalmond;  **/

}

.flex{
  display: flex;
  justify-content: space-between;
 /** cria cores de bordas
  background-color: #a9a9a9; **/
}
.Flex2{
  display: flex;
  align-items: center;
}

.TopicosSobre {
  margin-bottom: 10px;
}

.TopicosSobre img {
  margin-right: 10px;

}
/* configuraçoes do botão saiba mais classe criada em index. html linha 36 */
.Botao {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  background-color: #c00000;
  padding: 10px 40px;
  border: 2px solid #fff;
  border-radius: 25px;
}
/** topo do site feito em index.html coluna 84**/

#topo{
  position: fixed;
  right: 10px;
  bottom: 10px;

}
/** esmartphone portrait**/

/** cabeçalho **/

header {
  height: 60px;
}

#logo img{
  width: 128px;
  height: 128px;
  margin-top: 30px;
}
#check {
  display: none;
}
label {
  font-size: 3em;
}
nav ul {
  list-style: none;
  background-color: #343538;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 100%;
  transition: all 0.5s;
}
nav ul li {
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

/** para tirar o sublinhado das palavras do menu como inicio, sobre conteudo e contato
no caso sera o text decoration**/

nav ul li a {
  text-decoration: none;
  color: #fff;

}


/**------------------------------------------------------------------------**/
#check:checked ~ ul {
  right: 0;
}
/*--------------------------------------------------------------------------*/
/** para dar destque linha 36 index.html**/
main {
  height: 75vh;
  background:  url(image/banner.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  /** linhas 102 ate 105 são responsaveis por centralizar  
  as linhas 34, 35, e 36 de index.html 
  no caso o botão saiba mais e os outros dizeres**/
}
main h1 {
  font: 2.5em;
}
main h2 {
  font-size: 1em;
  margin: 20px 0px 50px 0px;
}

#sobre{
  padding: 50px 0px;
  background: url(image/background.png);
  background-size: cover;
  background-position: center;
}

#destaqueSobre {
  display: none;
}

#textoSobre {
   color: #fff;
   padding: 0px 10px;

}

#textoSobre h2 {
  margin-bottom: 10px;
}
/**---------------------------------------------------------------**/

/** smartphone landscape**/

/**   isto e utilizado para alterar as cores do leyout tipo pra ficar com cor na tela
body{
    background-color: brown;
}
**/

@media  (min-width: 576px){
  
  .container{
    max-width: 540px;
  }


 /** destaque **/
 main h1, main h2 {
  text-shadow: #000 0.05em 0.05em 0.05em;
 }
}
/*------------------------------------------------------------------------*/
/** tablet portrait**/
@media  (min-width: 768px){

  .container{
    max-width: 720px;
  }


 /* destaque  */

 main {
  height: 45vh;
 }
 main h1 {
  font-size: 5.5em;
 }
 main h2 {
  font-size: 2em;
 }
}
/*-----------------------------------------------------------------------*/
/** tablet landscape **/
@media  (min-width: 992px){
  
  .container {
    max-width: 960px;
  }

 /* destaque  */

 main {
  height: 70vh;
 }
}
/**-------------------------------------------------------------------------**/

/** pc **/
@media  (min-width: 1200px){
 
  .container{
    max-width: 1140px;
  }


 header {
 height: 180px;
 }

 label {
  display: none;
 }

 nav ul {
  position: static;
  height: auto;
  background-color: transparent;
  margin-top: 50px;
 }

 nav ul li {
  float: left;
  border: 0;
 }

 nav ul li a {
  color: #343538;
 }

 /** este muda a cor ao passar o mouse sobre as palavras do menu **/
 nav ul li a:hover {
  color: #c00000;
 }
/** isto fara a imagem de fundo do robo cinza ficar fixar ao rolar a pagina**/
 #sobre {
  background-attachment: fixed;
 }

 /* parte de destaque para fazer a imagem reaparecer mas somente para o pc*/
 #destaqueSobre {
  display: inline;
 }

 /* isto deixara a imagem do computador redonda  **/
 #destaqueSobre img {
  border-radius: 50%;
  margin-right: 50px;
 }  
}