/*
  folha de estilo site one page HTML5e CSS3 feita por Diego teixeira da Silva
*/
/* importado do google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* css reset */
*{
  margin: 0;
  border: 0;
  padding: 0;
}


body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
/** leyout **/
.container{
  margin: 0 auto;
 /** cria cores de borda
 background-color:blanchedalmond;  **/

}

.flex{
  display: flex;
  justify-content: space-between;
 /** cria cores de bordas
  background-color: #a9a9a9; **/
}

/** topo do site feito em index.html coluna 84**/

#topo{
  position: fixed;
  right: 10px;
  bottom: 10px;

}
/** esmartphone portrait**/

/** cabeçalho **/

header {
  height: 60px;
}

#logo img{
  width: 128px;
  height: 128px;
  margin-top: 30px;
}
#check {
  display: none;
}
label {
  font-size: 3em;
}
nav ul {
  list-style: none;
  background-color: #343538;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 100%;
  transition: all 0.5s;
}
nav ul li {
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

/** para tirar o sublinhado das palavras do menu como inicio, sobre conteudo e contato
no caso sera o text decoration**/

nav ul li a {
  text-decoration: none;
  color: #fff;

}


/**------------------------------------------------------------------------**/
#check:checked ~ ul {
  right: 0;
}
/*--------------------------------------------------------------------------*/


/** smartphone landscape**/

/**   isto e utilizado para alterar as cores do leyout tipo pra ficar com cor na tela
body{
    background-color: brown;
}
**/

@media  (min-width: 576px){
  
  .container{
    max-width: 540px;
  }
}
/*------------------------------------------------------------------------*/
/** tablet portrait**/
@media  (min-width: 768px){

  .container{
    max-width: 720px;
  }

}

/*-----------------------------------------------------------------------*/
/** tablet landscape **/
@media  (min-width: 992px){
  
  .container {
    max-width: 960px;
  }
}/**-------------------------------------------------------------------------**/

/** pc **/
@media  (min-width: 1200px){
 
  .container{
    max-width: 1140px;
  }


header {
height: 180px;
}

label {
  display: none;
}

nav ul {
  position: static;
  height: auto;
  background-color: transparent;
  margin-top: 50px;
}

nav ul li {
  float: left;
  border: 0;
}

nav ul li a {
  color: #343538;
}

/** este muda a cor ao passar o mouse sobre as palavras do menu **/
nav ul li a:hover {
  color: #c00000;
}
}